
body{
    background-color: antiquewhite;
    position: relative;
}
#message{
    width: 500px;
     height: 500px;
     top: 1000%;
      background-color: aqua;
       display: none;
       position: absolute;
       animation:  esraa 1s ease-in-out 1;
}
@keyframes esraa{
    0%   {
        border-radius: 100%;
        top:1000%
    }
      
    10%{
        border-radius: 100%;
        top:90%;
    }
    
    20%{
        border-radius: 100%;
        top:80%;
    }
    30%{
        border-radius: 100%; 
        top:70%;
    }
    40%{
        border-radius: 100%; 
        top:60%;
    }
    50%{
        border-radius: 90%;    
        top:50%;
    }
    60%{
        border-radius: 80%; 
        top:40%;
    }
    70%{
        border-radius: 70%;
        top:30%;
    }
    80%{
        border-radius: 60%; 
        top:20%;
    }
    90%{
        border-radius: 50%;
        top:15%;
    }
    100%{
        border-radius: 40%;
        top:15%;
    }


}
p{
    color: yellow;
    font-size: 100px;
}